@model Crud_Vaga_Estagio.Models.Empresa

@{
    ViewData["Title"] = "Edit";
}

<style>

    .link {
        text-decoration: none;
        color: blue;
    }
</style>

<h1>Editar</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidade" class="control-label"></label>
                <input asp-for="Especialidade" class="form-control" />
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>
           <div class="form-group">
    <label asp-for="Cep" class="control-label"></label>
    <input asp-for="Cep" class="form-control" onblur="buscarEndereco()" />
    <span asp-validation-for="Cep" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Bairro" class="control-label"></label>
    <input asp-for="Bairro" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Cidade" class="control-label"></label>
    <input asp-for="Cidade" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Estado" class="control-label"></label>
    <input asp-for="Estado" class="form-control" readonly />
</div>

<script>
    async function buscarEndereco() {
        var cep = document.getElementById("Cep").value;

        if (cep.length === 8) {
            var url = "https://viacep.com.br/ws/" + cep + "/json/";

            try {
                var response = await fetch(url);
                if (response.ok) {
                    var data = await response.json();
                    document.getElementById("Bairro").value = data.bairro;
                    document.getElementById("Cidade").value = data.localidade;
                    document.getElementById("Estado").value = data.uf;
                } else {
                    console.error("Erro ao buscar endereço.");
                }
            } catch (error) {
                console.error(error);
            }
        }
    }
</script>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="link">Voltar para a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}